version: "3"

networks:
  {{ woodpecker_server_docker_network_name }}:
    external: true

services:
  {{ woodpecker_server_docker_service_name }}:
    image: "{{ woodpecker_server_docker_container_image }}"
    container_name: "{{ woodpecker_server_docker_container_name }}"
    restart: always
    networks:
      {{ woodpecker_server_docker_network_name }}:
        ipv4_address: {{ woodpecker_server_docker_network_ipv4_address }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ woodpecker_server_data_directory }}:/var/lib/woodpecker/
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
{% if woodpecker_server_docker_external_port is defined %}
    ports:
      - "{{ woodpecker_server_docker_external_port }}:8000"
{% endif %}
    environment:
      {{ lookup('template', 'woodpecker-env.j2') | indent(width=6) }}
