WOODPECKER_HOST: {{ __woodpecker_server_app_host }}

WOODPECKER_OPEN: {{ woodpecker_server_open | lower }}
WOODPECKER_AGENT_SECRET: {{ woodpecker_server_agent_secret }}
WOODPECKER_NETWORK: {{ woodpecker_server_network }}

WOODPECKER_SERVER_CERT: {{ woodpecker_server_cert }}
WOODPECKER_SERVER_KEY: {{ woodpecker_server_key }}
WOODPECKER_LETS_ENCRYPT: {{ woodpecker_server_lets_encrypt | lower }}

WOODPECKER_GRPC_ADDR: "{{ woodpecker_server_grpc_addr }}"
WOODPECKER_ADMIN: {{ woodpecker_server_admin }}
WOODPECKER_ORGS: {{ woodpecker_server_orgs }}

WOODPECKER_DOCS: {{ woodpecker_server_docs }}

WOODPECKER_REPO_OWNERS: {{ woodpecker_server_repo_owners }}

WOODPECKER_AUTHENTICATE_PUBLIC_REPOS: {{ woodpecker_server_authenticate_public_repos | lower }}
#WOODPECKER_DEFAULT_CLONE_IMAGE: {{ woodpecker_server_default_clone_image }}

WOODPECKER_SESSION_EXPIRES: {{ woodpecker_server_session_expires }}
WOODPECKER_KEEPALIVE_MIN_TIME: {{ woodpecker_server_keepalive_min_time }}

WOODPECKER_ESCALATE: {{ woodpecker_server_escalate }}
WOODPECKER_DOCKER_CONFIG: {{ woodpecker_server_docker_config }}

WOODPECKER_DATABASE_DRIVER: {{ woodpecker_server_db_driver }}
WOODPECKER_DATABASE_DATASOURCE: {{ woodpecker_server_db_datasource }}

WOODPECKER_PROMETHEUS_AUTH_TOKEN: {{ woodpecker_server_prometheus_auth_token }}
WOODPECKER_STATUS_CONTEXT: {{ woodpecker_server_status_context }}

WOODPECKER_LIMIT_MEM_SWAP: {{ woodpecker_server_limit_mem_swap }}
WOODPECKER_LIMIT_MEM: {{ woodpecker_server_limit_mem }}
WOODPECKER_LIMIT_SHM_SIZE: {{ woodpecker_server_limit_shm_size }}
WOODPECKER_LIMIT_CPU_QUOTA: {{ woodpecker_server_limit_cpu_quota }}
WOODPECKER_LIMIT_CPU_SHARES: {{ woodpecker_server_limit_cpu_shares }}
WOODPECKER_LIMIT_CPU_SET: {{ woodpecker_server_limit_cpu_set }}

WOODPECKER_LOG_LEVEL: {{ woodpecker_server_log_level }}
WOODPECKER_DEBUG_PRETTY: {{ woodpecker_server_debug_pretty | lower }}
WOODPECKER_DEBUG_NOCOLOR: {{ woodpecker_server_debug_monitor | lower }}

{% if woodpacker_server_gitea %}
WOODPECKER_GITEA: true
WOODPECKER_GITEA_URL: {{ woodpecker_server_gitea_url }}
WOODPECKER_GITEA_CLIENT: {{ woodpecker_server_gitea_client }}
WOODPECKER_GITEA_SECRET: {{ woodpecker_server_gitea_secret }}
WOODPECKER_GITEA_SKIP_VERIFY: {{ woodpecker_server_gitea_skip_verify | lower }}
{% endif %}
